<header>
    <h1 itemprop="name headline"><a href="{{url}}" rel="canonical" itemprop="url">{{title}}</a></h1>
    <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">Published {{date format="MMM DD, YYYY"}}</time>
</header>