<article class="container {{post_class}}{{#unless feature_image}} no-image{{/unless}}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    {{> "post-header"}}

    <div itemprop="articleBody">
        <p>
        {{#if custom_excerpt}}
            {{excerpt}}
        {{else}}
            {{excerpt words="60"}}&hellip;
        {{/if}}
        </p>
    </div>
    
    {{> "post-footer"}}
</article>